.btn {
    margin: 10px 0 0 0;
}

.alert {
    .btn {
        margin: 0 0 0 20px;
    }

    p {
        margin-bottom: 0;
    }

    margin: 30px 40px;
}

#frm-filter {
    display: flex;
    justify-content: space-around;

    .btn {
        min-width: 100px;
        margin: 0 10px;
    }

    .form-select {
        max-width: 250px;
        min-width: 200px;
        margin: 0 10px;
    }
}

.spinner-border {
    width: 100px;
    height: 100px;
}

.m-right-10 {
    margin-right: 10px;
}

.card {
    max-width: 300px;

    .card-body {
        width: 100%;
    }
}

.width-large {
    max-width: none;
    width: 750px;
}

.btn-go-back {
    width: 30px;
    height: 30px;
    background-image: url("../images/atras.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    box-sizing: border-box;
    margin: 0 10px 0 0;
    padding: 0;
}

small {
    margin-right: 10px;
    margin-bottom: 10px;
}

#frm-edit-job {
    .form-control {
        margin-bottom: 20px;
    }
}

.container#jobs-container {
    max-width: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1010px) {
    #frm-filter {
        margin: auto;
        flex-direction: column;

        .form-select {
            max-width: none;
            min-width: none;
            margin: 10px 0;
        }

        .btn {
            min-width: none;
            margin: 10px 0;
        }
    }
}