.btn {
    margin: 10px 0 0 0;
}

.alert {
    .btn {
        margin: 0 0 0 20px;
    }

    p {
        margin-bottom: 0;
    }

    margin: 30px 40px;
}

#frm-filter {
    display: flex;
    justify-content: space-around;

    .btn {
        min-width: 100px;
        margin: 0 10px;
    }

    .form-select {
        max-width: 250px;
        min-width: 200px;
        margin: 0 10px;
    }
}

.spinner-border {
    width: 100px;
    height: 100px;
}

.m-right-10 {
    margin-right: 10px;
}

.min-width-500 {
    min-width: 500px;
}

small {
    margin-right: 10px;
    margin-bottom: 10px;
}

#frm-edit-job {
    .form-control {
        margin-bottom: 20px;
    }
}